<%- include("header") -%>
<div class="container home">
  <div class="row">
    <div class="col-sm col-sm-12 col-md-4 ppcol ppimg">
      <div class="ppname">
        <img id="pp"
          src="https://lh3.googleusercontent.com/-xnXYS3Uk3LY/XjQSnxacpeI/AAAAAAAAQrs/BMPstMJwG_8Au7EYjbO6kE_f5DlxEffegCEwYBhgLKtQDAL1OcqzP-4xmn8D7RrhlVatPZXbHWwq_RnP1dUVtln6CyVc45MrrvoYH92sro6EHRb2vVzT2OR0PZl9k-ZPCGk7luOU9wBT6S_sDygRcJMf91BVN7vy9m4YXEGRZqDrH1ALF-uhJwY4NscJfEqpTNTzSxzoHgD8JcdHmL6dZPpAVMWGVQpMxuC-w2XGQRkudPnZ5lgEaIPZBO4BL9Mdiwzmwrg5lbsbkZf1uRW_n-NsjxY6EF3utexRYFaHtxa5fnNCUhy4mYzHJiFngCnZnVM4K5G446by1_9Ngl3q2ghK-McCL3E7UP8aVBEk_KzDKSdiS3tQe-bwU1d3XS5YfdQrLZKRpXIGYQcBA4AgvYfb-yQtqe2Drcfk1w38B0u7PdWE4QuuneYq8x49QfG3Asm9aivTfZVrdfmU9hK2r6_x9PW-XvHl_udvDTTSDmAkcniZnM33O9AHrEhWQCCpIDUPpq0Ql7uodt3qA5iOHllL-9E25A8-PzeEJA42Uewvr6H1VEcicFKZGxumVCo7COhqzKZkTg5sYkFsz38mk3kIauamdmFoS_yO318MNNT7HYQrau0MREB4bidpPBlg8XffUflReygF3eoi2OEOQVl7C5ODwMKyUufsF/w140-h140-p/2020-01-31.jpg"
          alt="Gokul M">
        <br>
        <div><span class="headingfont">Gokul.M</span><br>Engineer</div>
      </div>
    </div>
    <div class="col-sm col-sm-12 col-md-8 ppcol ppbdr">
      <span id="intro">Welcome to my personal site. I am a junior web developer and I have personally created this web page to showcase all of my previous projects. Ready to explore?</span>
    </div>
  </div>
</div>
<%- include("footer") -%>
